altgraph==0.17
entrypoints==0.3
flake8==3.7.9
future==0.18.2
mccabe==0.6.1
mypy==0.761
mypy-extensions==0.4.3
numpy==1.18.1
pefile==2019.4.18
pycodestyle==2.5.0
pyflakes==2.1.1
PyInstaller==3.6
pywin32-ctypes==0.2.0
pyxel==1.2.10
typed-ast==1.4.1
typing-extensions==3.7.4.1
